* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Montserrat';font-size: 18px;
}

#main {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
}

#sidebar {
    background-color:#000000;
    width: 250px;
    position: relative;
    overflow-y: auto;
    
}

#albums {
    background-color: #141922;
    width: calc(100% - 250px);
    height: calc(100vh - 70px);
    overflow-y: auto;

}



img {
    max-width: 100%;
}


/* sidebar */

.logo {
    max-width: 180px;
    max-height: 80px;
    padding: 1rem;
    height: 25%;
    
}

.list-sidebar {
    height: 50%;
    width: 35px;
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}

.list-sidebar>li {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    color: white;
    margin-bottom: 10px;
    font-size: 13px;
}

.user-box {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 30px;
    justify-content: center;
    display: flex;
    color: white;

}

.fa-plus-large {
    color: white;
}


/* Header */

.header {
    height: 70px;
    width: calc(100% - 250px);
    background-color: #080b12;
    opacity: 0.3;
    padding: 15px;
    filter: alpha(opacity=60);
    position: fixed;
    right: 18px;
}

.header-button {
    border-radius: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 15px;
    background-color: #000000;
    color: lightgrey;
    border-color: lightgrey;
    transition-duration: 1s;
    
}

.header>.header-button:hover {
    color: white;
    background-color: green;
}

/* albums */


.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    margin-top: 80px;
    color: grey;
    padding: 5px;
}

.menu>li {
    list-style-type: none;
    padding: 5px;
    color: #7d7f84;
    transition-duration: 1s;
}

.menu>li:hover {
    color: white;
}

img {
    max-width: 100%;
}

#recently-played>h2 {
    color: white;
    padding: 10px;
}

#recently-played-body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    color: white;
    text-align: center;
}

.card-album {
    padding: 30px;
    width: calc(100% / 6);
}

.card-album:hover {
    transform: translateY(-10px) scale(1.05);
    transition: 1s;
}


/* footer */

#footer {
    height: 70px;
    width: 100%;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-size: 15px;
    padding: 15px;
}

#footer i{
    padding: 5px;
}

/* mediaquery */

@media screen and (max-width: 992px){
    .card-album {
        padding: 30px;
        width: calc(100% / 4);
    }
    
    
}

/* tablet */
@media screen and (max-width: 768px){
    .card-album {
        padding: 15px;
        width: calc(100% / 3);
    }
    
    
}
/* phone */
@media screen and (max-width: 576px){
    
    .card-album {
        padding: 10px;
        width: 50%;
    }

    #sidebar {
        width: 100px;
    }

    #sidebar .sidebarnone {
        display: none;
    }

    #albums {
        width: calc(100% - 100px);
        justify-content: flex-start;
    }
     
}


















