* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

.main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: blue;
    width: 250px;
    height: calc(100vh - 100px);
}

.albums {
    background-color: blueviolet;
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
}

.footer {
    height: 100px;
    width: 100%;
    background-color: black;
}

.header {
    height: 10vh;
    width: calc(100% - 250px);
    background-color: brown;
    opacity: 0.4;
    filter: alpha(opacity=60);
    position: fixed;
}